.well{
	min-height: 40px;
	margin-top: 5px;
	margin-bottom: 10px;
}


.cm_button{
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
}

.cm_button .btn{
	height: 40px;
}

.cm_fake_label{
	margin-top: 24px;
}

.cm_row_title{
	line-height: 34px;
	font-weight: bold;	
}

div.ui-datepicker    {

    font-size: 140%;
}
