
        ul.header li {
            display:inline;
            margin: 10px;
        }
        #menu
        {
            width: 900px;
            height: 50px;
            position: absolute;
            top: 50px;
            left: 100px;
            border-style: solid;
            border-color: black;
        }
        #user
        {
            width: 200px;
            height:400px;
            position: absolute;
            top: 50px;
            left: 1100px;
            border-style: solid;
            border-color: black;

        }